In [4]:
#""" Python training course notes """

## Why Python ?
# - Versatility
# - Readability
# - Clear Syntax

# Usage :  Games, Web dev, Data sciences ...

## Installation :  ? 
# Anaconda3 : 
# https://www.anaconda.com/products/individual

In [1]:
# ### DATA TYPES & OPERATTORS ####
# Data types and operators ?
1 + 1 + 2

4

In [6]:
print(2-1)

1

In [7]:
(10/3)

3.3333333333333335

In [8]:
(4*4)

16

In [9]:
3%1

0

In [10]:
2**4

16

In [11]:
13//2

6

In [12]:
# Variables

holds a value in a memory

SyntaxError: invalid syntax (<ipython-input-12-5dc86d11971a>, line 3)

In [9]:
age = 5
age

5

In [13]:
# variable with same characteristic
age, name, gender = 30, 'afondiel', 'male'
print (age, name, gender)

30 afondiel male

In [16]:
# Variable Convention
# all variable name shold be low case with undercore between
full_name = "Wakanda Forever"
print('full_name')

full_name

In [17]:
age +=5
print (age)

35

In [19]:
age -= 5
print(age)

30

In [27]:
# Numerical data types
# int, float

x = 7
y = 3
z = x/y
hi = 'hello human'
print(z)
print(hi)

2.3333333333333335
hello human

In [28]:
print((type(z)))
print((type(hi)))

<class 'float'>
<class 'str'>

In [30]:
# Conversion & Casting
print(int(3.7))

3

In [ ]:
# String Data Types
# str

In [33]:
name = 'Terminator'
print(name)
print(type(name))

Terminator
<class 'str'>

In [38]:
dialogue = 'Terminator said "Hello John", to which John replied, "Hello You\'re the best"'
print(dialogue)

Terminator said "Hello John", to which John replied, "Hello You're the best"

In [46]:
segment_one = 'I\'am 25'
segment_two = 'year old'
full_sentence =segment_one + " " + segment_two # concatenation
long_sentence = full_sentence*20 # multiply strings
print(full_sentence)
print(long_sentence) 
print(len(long_sentence))   #length

I'am 25 year old
I'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year oldI'am 25 year old
320

In [ ]:
# Booleans
# True or False

In [48]:
cool = True
not_cool = False
print(type(cool))

<class 'bool'>

In [54]:
# Boolean used for comparaison : >, <, >=, =<, !=, and, or, not
comp = not (( 1 > 2) and (3 > 2))
print(comp)

True

In [ ]:
#3 Methods != Functions ? 
# Methods : Data Type that can be associate with multiples(specific) methods | can be access with dot (".)
# Function : accepts args and return or not a single values

In [59]:
movie_title = 'Harry Potter and Prisoner of Azkaban'
# print(movie_title.upper())
print(movie_title.count('a')) # count the number of the letter 'a' in the string

4

In [60]:
# Collections Types
# List, Tuple, dict ...
# List : sequence Data Type

In [62]:
names = ['John','Jane', 'Joe']
print(names[0])
print(len(names))

John
3

In [124]:
random_names = [True, False,1.2, 4,'Jane', 'Joe']
name_path = len('D:\\Lab\\Training\\Udemy\\self-driving-car')
print(random_names)
print(name_path)

[True, False, 1.2, 4, 'Jane', 'Joe']
38

In [125]:
# random_names_new = random_names.append('Hendrix')
# random_names_new_new = random_names_new.insert(3,'Hendrix')
# print(random_names)
# print(random_names_new)
# print(random_names_new_new)
print(name_path[:-3])

TypeError: 'int' object is not subscriptable

In [ ]:
# SLICING
# List[start ========> (end - 1)]

In [132]:
ordered_numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (ordered_numbers[2:9])
print (ordered_numbers[:9])
print (ordered_numbers[:len(ordered_numbers)])
print (ordered_numbers[:])
print (ordered_numbers[:2])

[2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1]

In [140]:
# Creating list of numbers
print(list(range(0,10)))
print(list(range(0,10,2)))  # step of 2

[0, 2, 4, 6, 8]

In [143]:
show_title = 'game_of_thrones'
print(show_title[:-3])

game_of_thro

In [145]:
# Membership operators
# in / not in

months = ['January', 'February', 'March']
print('January' in months)
print('January' not in months)

True
False

In [149]:
#String cases

course = 'python crash course'
print('crash' in course)
print('crash' not in course)

True
False

In [ ]:
# Mutability 

# Mutable : Liable to change
# Immutable : Not liable to change
# List : Mutable 
# String : Immutable

In [151]:
grocery_list = ['bananas','apples', 'cauliflower']
print(grocery_list)
grocery_list[2] = 'rutabagas'
print(grocery_list)

['bananas', 'apples', 'cauliflower']
['bananas', 'apples', 'rutabagas']

In [154]:
misspelled_vegetable = 'cucomber'
misspelled_vegetable[3] = 'u'
print(misspelled_vegetable)

TypeError: 'str' object does not support item assignment

In [155]:
name = 'Ameer'
other_name = name
name = 'John'
print(name)
print(other_name)

John
Ameer

In [157]:
# Memory storage 

books = ['The Catcher in the Rye', 'The Mist', 'Lord of Rings']
more_books = books
books[0] = 'A song of ice and fire'
print(books[0])
print(more_books)

A song of ice and fire
['A song of ice and fire', 'The Mist', 'Lord of Rings']

In [167]:
# FUNCTIONS AND METHODS LIST
# Data type functions
# len ()  : returns number of items of an object
# max () : returns the maximum value of  the list
# sorted() : sort low to higest
# insert(pos, val) : 

numbers = [3, 1, 4]  # list of integers
print(len(numbers))
print(max(numbers))
print(min(numbers))
print(sorted(numbers))

3
4
1
[1, 3, 4]

In [168]:
name = ['Thomas', 'Gio', 'Zack']
print(min(name))    # returns the alphabet order of the less letter of the string
print(max(name))    # returns the alphabet order of the greater letter of the string
print(sorted(name))

Gio
Zack
['Gio', 'Thomas', 'Zack']

In [184]:
# Data types Methods
# 
# join(list)
# format(list of strings)
# append() : 
print('-'.join(['Mon', 'Tue', 'Wed']))
print(' '.join(['Mon', 'Tue', 'Wed']))
# FORMAT STRINGS
print('This person is {}, {} and {}'.format('tall', 'slim','blond'))
months = ['January', 'February', 'March']
months.append('April')
print(months)

Mon-Tue-Wed
Mon Tue Wed
This person is tall, slim and blond
['January', 'February', 'March', 'April']

In [180]:
# TUPLES (just like lists)
# Immutable ordered sequence of elements :stored RELATED element

This person is tall, slim and blond

In [185]:
traits = ('tail', 'slim', 'blond')
height = traits[0]
build = traits[1]
print (height, build)

tail slim

In [186]:
# /!\  TUPLES UNPACKING 
traits = ('tail', 'slim', 'blond')
height, build, hair = traits
print (height, build, hair)

tail slim blond

In [190]:
# SETS
# a collection data types of uniques elements (it takes out the duplicated)
# Mutable, unordered

duplicated_numbers = [1, 1, 2, 2, 3, 3]
unique_numbers = set(duplicated_numbers)
print(unique_numbers)
unique_numbers.add(4)
print(unique_numbers)

{1, 2, 3}
{1, 2, 3, 4}

In [191]:
print(2 in unique_numbers) # membership operator

True

In [198]:
# !!!! DICTIONNARIES : !!!!
# more flexible data types/MUTABLE 
# pair of (key:value) (/!\ key shall be unique)
# unordered sequence

# inventory = { key (item) : value(price) }
inventory = {'bananas' : 1.29, 'apples' : 2.99, 'papays' : 1.39}
print(inventory)
print(inventory['bananas'])

{'bananas': 1.29, 'apples': 2.99, 'papays': 1.39}
1.29

In [197]:
inventory['bananas'] = 2.3
print(inventory['bananas'])

2.3

In [200]:
bananas_price = inventory.get('bananas')
print(bananas_price)

1.29

In [201]:
toto_price = inventory.get('toto')
print(toto_price)

None

In [202]:
print('celery' in inventory)

False

In [205]:
# /!\ COMPOUND DATA STRUCTURES /!\ 

grocery_items = {'bananas' : {'price' : 2.29,'country of origin': 'Guatamala' },  
                 'apples'  : {'price' : 1.29,'country of origin': 'UK' },
                 'papays'  : {'price' : 2.39,'country of origin': 'Costa Rica' }}
print(grocery_items)
print('\n')
print(grocery_items['bananas'])

{'bananas': {'price': 2.29, 'country of origin': 'Guatamala'}, 'apples': {'price': 1.29, 'country of origin': 'UK'}, 'papays': {'price': 2.39, 'country of origin': 'Costa Rica'}}


{'price': 2.29, 'country of origin': 'Guatamala'}

In [210]:
print(grocery_items['bananas']['country of origin'])

Guatamala

In [214]:
# #### PARTI II : CONTROL FLOW #####
# Add Logic in the Code : Condition, Loop, ... 
grocery_items = {'bananas' : 1.29, 'apples' : 2.99, 'papays' : 1.39}

In [219]:
item = 'brussel sprouts'
if item in grocery_items: 
    print('item found : ', item)
else :
    print('item not found', item)
    grocery_items.update({item: 3.1})
    print('just added the item, here is the updated grocery list', grocery_items)

item not found brussel sprouts
just added the item, here is the updated grocery list {'bananas': 1.29, 'apples': 2.99, 'papays': 1.39, 'brussel sprouts': 3.1}

In [220]:
item, price = 'rutabagas', 2.99
if item in grocery_items: 
    print('item found : ', item)
elif price > 2.99:
    print('too expensive for inventory') 
else :
    print('item not found', item)
    grocery_items.update({item: price})
    print('just added the item, here is the updated grocery list', grocery_items)

item not found rutabagas
just added the item, here is the updated grocery list {'bananas': 1.29, 'apples': 2.99, 'papays': 1.39, 'brussel sprouts': 3.1, 'rutabagas': 2.99}

In [224]:
daytime = 'noon'
if daytime == 'dawn' :
    print('still asleep')
elif daytime == 'morning' : 
    print('time to go to work')
else : 
    print('time to go to sleep')

time to go to sleep

In [227]:
# COMPLEX COMPARISON

# 1000 < Reynold's Number < 2000

reynold_number = 5000

if 2000 < reynold_number < 10000:
    print('flow regime is transitional')

flow regime is transitional

In [228]:
if reynold_number > 2000 and reynold_number < 10000:
    print('flow regime is transitional')

flow regime is transitional

In [ ]:
# LOOOOPPPPPSSSSSS ! 
# For loop : iterates over an iterable : 
# /!\ interable : can run one element at time (List, String, Dict, Tuples)

In [229]:
months = ['January', 'February', 'March']
for month in months : 
    print(month)

January
February
March

In [231]:
for number in range(0, 100):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [239]:
name = ['Hilary', 'Diana', 'Brian']
for idx in range (len(name)):
    # print(idx)
    name [idx] = name[idx].lower()
    print(name)
print(name)

['hilary', 'Diana', 'Brian']
['hilary', 'diana', 'Brian']
['hilary', 'diana', 'brian']
['hilary', 'diana', 'brian']

In [241]:
movies = {'Titanic' : 1997, 'Finding Nemo' : 2003}
for key in movies : 
    print(key)

Titanic
Finding Nemo

In [249]:
movies = {'Titanic' : 1997, 'Finding Nemo' : 2003}
for key , value in movies.items() :  # item() : return the list of dict key:value pairs
    print('The movie {}, was made in {}'.format(key, value))

The movie Titanic, was made in 1997
The movie Finding Nemo, was made in 2003

In [1]:
# LOOOOOOOOOOP II

#  While loop : Condition : ok => intruction
#/!\ Could run forever if condition never verified

random_number = 20

while random_number > 30 : 
    print(random_number)
    break 
    # continue

In [2]:
numbers = list(range(0,10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for number in numbers :
    if number % 2 != 0: 
        continue
    print(number)

0
2
4
6
8

In [ ]:
# ### PART III ###
# FUNCTIONS : Performs a specific task
# main goal : reusability
# scope, Docstrings, Lambda ...
# def function_name

In [13]:
def rectangle_area(length, width) : 
    return length*width

In [15]:
area = rectangle_area(2 , 4)
print(area)

8

In [18]:
def rectangle_area(length, width) : 
    print(length*width)

rectangle_area(2, 3) 
rectangle_area(4, 5)

6
20

In [ ]:
# Function Scope  : part of your program that can use or access a variable
# Local : Variable names assigned within a function
# Global : Variable names assigned every part of the program / Moduem  (Encapsulation)

In [21]:
number = 2  # Global scoped
def random_function() :
    name = 'Bill'  # name is scoped to the function 
print (number)

2

In [ ]:
# Docstrings : String literal that documents a segment of code

In [ ]:
def rectangle_area(length, width) :
    """ 
        INPUT : 
        This function takes in two lenght and width
        OUTPUT :     
        The Calculate the area based on the lenght and width by the user, where area = lenght x width
    """
    return length*width

In [39]:
# LAMBADA & HIGH ORDER FUNCTIONS : 

numbers = [1, 2, 3, 4, 5]
for idx in range(len(numbers)+1) :
    if idx % 2 != 0 :
        numbers.remove(idx)
        # numbers.pop(idx)
print(numbers)

[2, 4]

In [38]:
numbers = [1, 2, 3, 4, 5]
def even_or_odd(number) : 
    return number % 2 == 0

print(list(filter(even_or_odd, numbers)))

# Not reuseble

[2, 4]

In [41]:
numbers = [1, 2, 3, 4, 5]
# For a no reuseble code !!!

print(list(filter(lambda number : number % 2 == 0, numbers)))

[2, 4]